<style>
    :root {
        --cover-text-color: #FFFFFF;
        --highlight: #FFB81C;
        --highlight-contrast: #121212;
        /* --highlight-inverse: #14213D; */
        --highlight-inverse: #FFB81C;
        --highlight-inverse-contrast: #121212;
        --cover-title-text-shadow: none;
        /* --sticky-menu-text-color: #14213D; */
        --sticky-menu-text-color: #FFB81C;

        /* Light section */
        --section-light-text-color: #121212;
        --section-light-bg-color: #FFFFFF;

        /* Dark section */
        --section-dark-text-color: #121212;
        /* --section-dark-bg-color: #14213D; */
        --section-dark-bg-color: #6CACE4;

        --ul-li-icon: fa-circle;
    }

    ::selection {
        background: var(--highlight);
    }

    .fa-ul {
        margin-left: 1em;
    }

    .fa-li {
        top: -0.175em;
        left: -1em;
        width: 0;
    }

    .fa-li>.fa {
        font-size: 50%;
    }

    ul p {
        margin: 0.25em 0;
    }

    footer {
        display: none;
    }
</style>