<style>
    :root {
        --cover-text-color: #FFFFFF;
        --highlight: #FCA311;
        --highlight-contrast: #121212;
        --highlight-inverse: #14213D;
        --highlight-inverse-contrast: white;
        --cover-title-text-shadow: none;
        --sticky-menu-text-color: #14213D;

        /* Light section */
        --section-light-text-color: #121212;
        --section-light-bg-color: #E5E5E5;

        /* Dark section */
        --section-dark-text-color: var(--section-light-bg-color);
        --section-dark-bg-color: #14213D;

        --ul-li-icon: fa-circle;
    }

    ::selection {
        background: var(--highlight);
    }

    .fa-ul {
        margin-left: 1em;
    }

    .fa-li {
        top: -0.175em;
        left: -1em;
        width: 0;
    }

    .fa-li>.fa {
        font-size: 50%;
    }

    ul p {
        margin: 0.25em 0;
    }

    footer {
        display: none;
    }
</style>